* {
    box-sizing: border-box;
}

body {
    background-color: hsl(225, 100%, 10%);
    color: hsl(45, 100%, 70%);
}

h1,
h2,
h3 {
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

img {
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 3px 3px 5px gray;
}